<html>
<head>
<style>
.flashes {background-color: powderblue;}
.flashes>ul {list-style-type: none;}

.done {text-decoration: line-through;}

{% include 'tags_format.css' %}
</style>

</head>


<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="task" method="post">
    <p><input type="text" name="shift" size="3" value="1"/> - <input type="text" name="content"/></p>
{% if done %}
<div style="float: right;"><a href="../">Open tasks</a></div>
{% else %}
<div style="float: right;"><a href="completed">Completed tasks</a></div>
{% endif %}
    <input type="submit" value="Add task"/>
</form>

<table>
<tr>
<td style="vertical-align:top">
<ul>
{% for task in tasks %}
    <li>
        {{ loop.index0 + 1 }} - {{task | format_task | safe}}
        <a href="done/{{ task.id }}">X</a>
        <a href="up/{{ task.id }}">↑</a>
        <a href="down/{{ task.id }}">↓</a>
        <a href="condition/{{ task.id }}">→</a>
        <a href="edit/{{ task.id }}">✎</a>
    </li>
{% endfor %}
</ul>

</td>

{% if cond != False %}

<td style="vertical-align:top">

<ul>
{% for task in cond %}
    <li>
        {{ loop.index0 + 1 }} - {{task | format_task | safe}}
        <a href="done/{{ task.id }}">X</a>
        <a href="up/{{ task.id }}">↑</a>
        <a href="down/{{ task.id }}">↓</a>
        <a href="condition/{{ task.id }}">←</a>
        <a href="edit/{{ task.id }}">✎</a>
    </li>
{% endfor %}
</ul>

</td>

{% endif %}
</tr>

</table>

</body>
</html>
